@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Golos Text", sans-serif;
}

@layer base {
  body {
    @apply text-base;
  }
}

.link--dropdown::after,
.link--dropdown::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  top: 50%;
  right: 0;
  background: currentColor;
}

.link--dropdown::before {
  margin-right: 4px;
  transform: scale(0.96, 0.8) rotate(50deg);
}

.link--dropdown::after {
  transform: scale(0.96, 0.8) rotate(-50deg);
}

.link-active::before {
  transform: scale(0.96, 0.8) rotate(-50deg);
}

.link-active::after {
  transform: scale(0.96, 0.8) rotate(50deg);
}
